<p>
    <mat-toolbar>
      <span>Menú Administrador</span>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
          <img class="profile mat-elevation-z8" src="/assets/images/fcclogo1.jpeg" alt="">
          <h4 class="name">Administrador</h4>
          <p class="designation">Facultad de Ciencias de la Computación</p>

          <mat-divider></mat-divider>

          <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Usuarios</span>
          </button>

          <button mat-button class="menu-button">
            <mat-icon>library_books</mat-icon>
            <span>Materias</span>
          </button>

          <mat-divider></mat-divider>

          <button mat-button class="menu-button">
            <mat-icon>logout</mat-icon>
            <span>Salir</span>
          </button>

        </mat-sidenav>

        <mat-sidenav-content>
          
          <div class="content mat-elevation-z8">
            main content
          </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
    
</p>